<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h2>记账本</h2>
      <hr />
      <div class="accounts">
        <% accounts.forEach(item => { %>
          <div class="panel <%= item.type === -1 ? 'panel-danger' : 'panel-success' %>">
            <div class="panel-heading"><%= item.time %></div>
            <div class="panel-body">
              <div class="col-xs-6"><%= item.title %></div>
              <div class="col-xs-2 text-center">
                <span class="label <%= item.type === -1 ? 'label-danger' : 'label-success' %>">
                  <%= item.type === -1 ? '支出' : '收入' %>
                </span>
              </div>
              <div class="col-xs-2 text-right"><%= item.account %>元</div>
              <div class="col-xs-2 text-right">
                <a href="/account/<%= item.id %>">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
